<footer class="footer">
    <div class="align">
        <div class="container">
            <li class="logo"><img src="../images/logo.png"></li>
            <p class="text-justify">Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative  to help the upcoming programmers with the code.</p>
        </div>
        <div class="container2">
            <h6>Constact</h6>
            <ul class="footer-liens">
                <li><a href="#">+33 692 35 35 30</a></li>
                <li><a href="#">16 avenue des fougères, 92260, Paris</a></li>
                <li><a href="#">contact@internetmovies.com</a></li>
            </ul>
        </div>
        <div class="container2">
            <h6>Liens</h6>
            <ul class="footer-liens">
                <li><a href="#">Action</a></li>
                <li><a href="#">Drame</a></li>
                <li><a href="#">Comdédie</a></li>
                <li><a href="#">Panier</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bas">
        <div>
            <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by
                <a href="#">Scanfcode</a>.
            </p>
        </div>
        <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
    </div>
</footer>