<footer class="footer">
    <div class="align">
        <div class="container">
            <li class="logo"><img src="../images/logo.png"></li>
            <p class="text-justify">InternetMovie.fr découvrez une énorme sélection de films sur Internet Movie Database</p>
        </div>
        <div class="container2">
            <h6>Contacts</h6>
            <ul class="footer-liens">
                <li><a href="#">06 01 02 03 04</a></li>
                <li><a href="#">28 rue des Francs Bourgeois 75003 Paris</a></li>
                <li><a href="#">contact@internetmovies.com</a></li>
            </ul>
        </div>
        <div class="container2">
            <h6>Liens utiles</h6>
            <ul class="footer-liens">
                <li><a href="../layout/categorieAction.php">Action</a></li>
                <li><a href="../layout/categorieDrame.php">Drame</a></li>
                <li><a href="../layout/categorieProducteur.php">Producteurs</a></li>
                <li><a href="../layout/historique.php">Panier</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bas">
        <div>
            <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by
                <a href="#">Supinfo</a>.
            </p>
        </div>
        <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
    </div>
</footer>
</body>
</html>