<nav>
  <a href="" class="logo">
    <img src="../images/logo.png">
  </a>
  <div class="recherche">
    <input type="text" placeholder="Recherche">
    <i class="fas fa-kiwi-bird"></i>
  </div>
  <ul class="menu">
    <li class="deroulant"><a href="#"> Catégorie</a>
      <ul class="sous">
        <li><a href="#"> Action</a> </li>
        <li><a href="#"> Drama</a> </li>
        <li><a href="#"> Animée</a> </li>
      </ul>
    </li>
    <li><a href="#"> Panier</a> </li>
    <li><a href="#"> Login</a> </li>
  </ul>
</nav>