<nav>
  <a href="../layout/accueil.php" class="logo">
    <img src="../images/logo.png" alt="logo">
  </a>
  <ul class="menu">
    <li><a href="../layout/accueil.php"> Accueil</a> </li>
    <li class="deroulant"><a href="#"> Catégories</a>
      <ul class="sous">
        <li><a href="../layout/categorieProducteur.php"> Producteurs</a> </li>
        <li><a href="../layout/categorieAction.php"> Action</a> </li>
        <li><a href="../layout/categorieDrame.php"> Drama</a> </li>
      </ul>
    </li>
    <li><a href="../layout/recherche.php"> Rechercher</a> </li>
    <li><a href="../layout/historique.php"> Historique d'achat</a> </li>
    <li><a href="../layout/login.php"> Login</a> </li>
  </ul>
</nav>